.wrapper
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-body
				.page
					-#Content body. allows the user to edit a review
					%h1= @article3["title"]
					%p Find me in app/views/articles/article1.html.haml
